{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

  <title>TaskTwix — Генератор заданий</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/templatemo-space-dynamic.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/register.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

</head>

<style>
  .main-red-button {
    display: flex;
  }
  .atabek{
    border-radius: 2px;
    margin-left: 10px;
  }


</style>

<body>


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="{% url 'index' %}" class="logo">
            <h4>Twix<span>Task</span></h4>
          </a>
          <ul class="nav">
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'task_list' %}">Задания и Челленджи</a></li>
            <li><a href="{% url 'index' %}#contact">Связаться с нами</a></li>
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'task_dashboard' %}">Создать</a></li>
              <li class="main-red-button"><a href="{% url 'logout' %}">{{ user.username }} | Выйти</a></li>
              {% else %}
                <li class="main-red-button"><a class="atabek" href="{% url 'register' %}">Регистрация</a>  <a class="atabek" href="{% url 'login' %}">Войти</a></li>
                {% endif %}          </ul>        
          <!-- <a class='menu-trigger'>
              <span>Меню</span>
          </a> -->
        </nav>
      </div>
    </div>
  </div>
{% block content %}
<div style="margin-top: 120px;" class="wrapper">
  <div class="title"><span>Регистрация</span></div>

  <form method="post">
    {% csrf_token %}

{% if form.non_field_errors %}
  <div class="alert alert-danger mt-2">
    {{ form.non_field_errors }}
  </div>
{% endif %}

    {% for field in form %}
        <div class="row" style="margin-top: 12px;">
          {% if "email" in field.name %}
            <i class="fas fa-user"></i>
          {% elif "password" in field.name %}
            <i class="fas fa-lock"></i> 
            
          {% else %}
            <i class="fas fa-edit"></i>
          {% endif %}
          {{ field }}
          <div class="form-error text-danger" style="margin-top: 20px;">{{ field.errors }}</div>
        </div>
      {% endfor %}

    <div class="policy-text mt-3" >
      <input type="checkbox" id="policy" required>
      <label for="policy" style="margin-top: 80px;">
        Я принимаю
        <a href="{% static 'assets/images/hello.avif' %}" class="option" >условия использования</a>
      </label>
    </div>

    <div class="row button">
      <input type="submit" value="Зарегистрироваться" />
    </div>
    <div class="signup-link mt-3">
      Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a>
    </div>
  </form>
</div>




{% endblock %}



